@-webkit-keyframes animate-opacity {
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes animate-opacity {
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@keyframes animate-opacity {
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
a { color:#0000FF; text-decoration:underline; }
a:visited { color:#800080; }
a:active { color:#FF0000; }
a:hover { color:#0000FF; text-decoration:underline; }
input:focus,textarea:focus,select:focus { outline:none; }
.visibility-hidden { visibility:hidden; }
h1,.h1 { font-family:Arial; font-weight:bold; font-size:32px; text-decoration:none; color:#000000; background-color:transparent; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; display:inline; }
h2,.h2 { font-family:Arial; font-weight:bold; font-size:27px; text-decoration:none; color:#000000; background-color:transparent; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; display:inline; }
h3,.h3 { font-family:Arial; font-size:24px; text-decoration:none; color:#000000; background-color:transparent; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; display:inline; }
h4,.h4 { font-family:Arial; font-size:21px; font-style:italic; text-decoration:none; color:#000000; background-color:transparent; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; display:inline; }
h5,.h5 { font-family:Arial; font-size:19px; text-decoration:none; color:#000000; background-color:transparent; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; display:inline; }
h6,.h6 { font-family:Arial; font-size:16px; text-decoration:none; color:#000000; background-color:transparent; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; display:inline; }
.CustomStyle { font-family:"Lucida Sans Unicode"; font-weight:bold; font-size:16px; text-decoration:none; color:#FF0000; background-color:transparent; box-shadow:0px 0px 3px #000000; -webkit-text-shadow:0px 0px 3px rgba(0,0,0,1.00); -moz-text-shadow:0px 0px 3px rgba(0,0,0,1.00); text-shadow:0px 0px 3px rgba(0,0,0,1.00); }
